* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    box-shadow: 0 0 10px 10px #efefef;
    z-index: 2;
    position: relative;
}

h1 {
    font-size: 16px;
    font-weight: normal;
    padding: 18px 0 20px;
    float: left;
}

.main-nav li {
    display: inline-block;
}

.main-nav li:not(:last-of-type)::after {
    content: '/';
    padding: 0 15px;
    color: #c2c2c5;
}

.center-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.upper-bar {
    color: #fff;
    background: #001933;
}

.upper-bar a {
    color: #fff;
}

.upper-bar time {
    float: right;
    padding: 18px 0 20px;
}

.lower-bar {
    padding-bottom: 32px;
}

.lower-bar a {
    color: #000;
    text-decoration: none;
}

.logo {
    margin: 40px 0 39px;
    float: left;
}

.select-wrapper {
    display: block;
    position: relative;
    font-size: 0;
    width: 80px;
    float: left;
    margin: 50px 0 0px 60px;
}

.select-wrapper::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    right: 25px;
    height: 1px;
    border-bottom: 2px dashed #448ccb;
}

.custom-select {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    color: #448ccb;
    padding-right: 15px;
    background: url(../img/arrow.png) 100% center no-repeat;
}

.search-wrapper {
    float: right;
    font-size: 0;
    margin: 39px 0 0px;
    position: relative;
}

#search {
    height: 45px;
    width: 320px;
    border: none;
    background-color: #f3f3f3;
    border-radius: 25px;
    padding-left: 20px;
}

input[type="search"] {
    -webkit-appearance: none;
}

#search::placeholder {
    font-size: 14px;
}

.search-btn {
    border: none;
    background-color: transparent;
    font-size: 0;
    height: 45px;
    position: absolute;
    right: 0;
    padding-left: 52px;
    float: right;
    background: url(../img/search.png) center center no-repeat;
}

.temp {
    float: right;
    color: #91919f;
    margin: 47px 46px 2px 0;
    padding: 4px 0 1px 41px;
    background: url(../img/weather.png) left center no-repeat;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}