* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html, body{
    min-width: 320px;
}

header {
    box-shadow: 0 0 10px 10px #efefef;
    z-index: 2;
    position: relative;
}

h1 {
    font-size: 16px;
    font-weight: normal;
    padding: 18px 0 20px;
    float: left;
}

.main-nav li {
    display: inline-block;
}

.main-nav li:not(:last-of-type)::after {
    content: '/';
    padding: 0 15px;
    color: #c2c2c5;
}

.center-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.upper-bar {
    color: #fff;
    background: #001933;
}

.upper-bar a {
    color: #fff;
}

.upper-bar time {
    float: right;
    padding: 18px 0 20px;
}

.lower-bar {
    padding-bottom: 32px;
}

.lower-bar a {
    color: #000;
    text-decoration: none;
}

.logo {
    margin: 40px 0 39px;
    float: left;
}

.logo-mobile {
    display: none;
}

.select-wrapper {
    display: block;
    position: relative;
    font-size: 0;
    width: 80px;
    float: left;
    margin: 50px 0 0px 60px;
}

.select-wrapper::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    right: 25px;
    height: 1px;
    border-bottom: 2px dashed #448ccb;
}

.custom-select {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    color: #448ccb;
    padding-right: 15px;
    background: url(../img/arrow.png) 100% center no-repeat;
}

.search-wrapper {
    float: right;
    font-size: 0;
    margin: 39px 0 0px;
    position: relative;
}

#search {
    height: 45px;
    width: 320px;
    border: none;
    background-color: #f3f3f3;
    border-radius: 25px;
    padding-left: 20px;
}

input[type="search"] {
    -webkit-appearance: none;
}

#search::placeholder {
    font-size: 14px;
}

.search-btn {
    border: none;
    background-color: transparent;
    font-size: 0;
    height: 45px;
    position: absolute;
    right: 0;
    padding-left: 52px;
    float: right;
    background: url(../img/search-transparent.png) center center no-repeat;
}

.temp {
    float: right;
    color: #91919f;
    margin: 47px 46px 2px 0;
    padding: 4px 0 1px 41px;
    background: url(../img/weather.png) left center no-repeat;
}

.date-mobile {
    display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.menu-btn {
    display: none;
}

@media (max-width: 950px) {
    .main-nav a {
        font-size: 14px;
    }

    .main-nav li:not(:last-of-type)::after {
        padding: 0 8px;
    }
}

@media (max-width: 850px)  {
    header {
        position: relative;
    }

    h1 {
        font-size: 13px;
        padding: 18px 0 20px;
        text-align: center;
        float: none;
    }

    #search {
        display: none;
    }

    .select-wrapper {
        display: none;
    }

    .upper-bar time {
        display: none;
    }

    .lower-bar {
        padding: 0;
    }

    .logo{
        display: none;
    }

    .logo-mobile {
        display: initial;
        margin: 20px 0 20px;
        float: left;
    }

    .search-btn {
        top: -30px;
    }

    .weather-wrapper {
        position: absolute;
        top: 150px;
        left: 20px;
        right: 20px;
        z-index: 50;
        transition: 0.5s ease-in;
    }

    .weather-wrapper-menu {
        transform: translateY(350px);
        transition: 0.5s ease-in;
    }

    .temp {
        float: right;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        background-size: contain;
    }

    .date-mobile {
        display: initial;
        float: left;
        color: #91919f;
        margin: 0 auto;
        padding: 0;
        font-size: 16px;
    }

    .date-mobile span{
        padding: 0 0 0 40px;
        background: url('../img/time.png') 20% center no-repeat;
        background-size: contain;
    }

    .main-nav {
        height: 350px;
        background: #fff;
        position: relative;
        z-index: 90;
        overflow: hidden;
        transition: 0.5s ease-in;
    }

    .main-nav-expand {
        height: 0;
        transition: 0.5s ease-in;
    }

    .main-nav a {
        display: block;
        padding: 8px 0;
        font-size: 18px;
    }
    
    .main-nav li:not(:last-of-type) {
        border-bottom: 1px solid #cacacaad;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li:not(:last-of-type)::after {
        content: none;
        padding: 0;
    }



    .menu-btn {
        width: 30px;
        height: 30px;
        display: block;
        position: relative;
        z-index: 3;
        background: none;
        border: none;
        float: left;
        margin: 17px 15px 17px 0;
    }
    
    .menu-btn span, 
    .menu-btn span::before,
    .menu-btn span::after  {
        position: absolute;
        top: 50%;
        width: 20px;
        height: 2px;
        background-color: #222;
        margin-top: -1px;
        left: 50%;
        margin-left: -10px;
    }
    
    .menu-btn span::before,
    .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.6s;
    }
    
    .menu-btn-active span {
        height: 0;
    }
    .menu-btn span::before {
        transform: translateY(-5px)
    }
    
    .menu-btn span::after {
        transform: translateY(5px)
    }
    
    .menu-btn-active span::before {
        transform: rotate(-45deg);
    }
    
    .menu-btn-active span::after {
        transform: rotate(45deg);
    
    }

}

@media (min-width: 400px) and (max-width: 850px) {
    h1{
        font-size: 16px;
    }

    .search-wrapper {
        margin: 10px 0;
    }

    .search-btn {
        top: 0px;
    }

    #search {
        display: initial;
    }
}

@media (max-width: 585px) {
    #search {
        display: none;
    }
}